# This file
.gitignore

# Scripts
edit.sh

# Compiled binary
sean

# CMake output
CMakeCache.txt
CMakeFiles/*
cmake_install.cmake
install_manifest.txt
Makefile
src/CMakeFiles/*
src/libsean_lib.a
include/Config.h

# Object files
*.o

# vim .swp files
*.swp

# Output files
output/*.pdf
output/*.txt
!output/output.txt
output/*.out
output/*.cal

# valgrind output
*.out.*

# Input folder
input/*

# .json files
*.json

# LaTeX output
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.dvi
doc/*.log
doc/*.out
doc/*.pdf
doc/*.toc

# phdos directory
phdos/*
