# Scripts
edit.sh

# Compiled binary
sean

# Object files
*.o

# vim .swp files
*.swp

# Output files
output/*.pdf
output/*.txt
!output/output.txt

# valgrind output
*.out.*

# Input folder
input/*

# .json files
*.json
